{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- Add heading code -->
    <h1 style="color: #495E57"> Enter page name and remove these surrounding angled brackets </h1>
<!-- Add paragraph code -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin tellus id mauris egestas condimentum. Nullam eget sem vitae libero interdum efficitur a sit amet lacus. Praesent consectetur nunc non turpis aliquet fermentum. Quisque maximus tellus justo, nec placerat nisi interdum sit amet. Aliquam sagittis porttitor eros, a tempus sapien scelerisque ut. Proin faucibus nibh ut hendrerit rutrum. Nullam dapibus sapien quis mauris tincidunt, eget ornare tellus finibus.</p>
    <p> {{content.about}} </p>
    <!-- Add image code -->
    <img src="{% static 'img/MirabelMadrigal.png' %}">

</body>
</html>